[Unit]
Description=Grafana monitoring and visualization service 
Requires=noc-network.service grafana-volume.service
After=noc-network.service grafana-volume.service

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana:latest
Network=noc.network
Volume=grafana.volume:/var/lib/grafana
Volume=/etc/noc/grafana/provisioning:/etc/grafana/provisioning:ro,Z
PublishPort=192.168.3.12:3001:3000
Environment=GF_SERVER_HTTP_PORT=3000
Environment=GF_USERS_ALLOW_SIGN_UP=false
Environment=GF_PLUGINS_PREINSTALL_AUTO_UPDATE=false
Label=project=noc
Label=component=grafana
NoNewPrivileges=true

[Service]
Restart=on-failure
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
